.popup__save-button_inactive {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    background-color: transparent;
    color: rgba(0, 0, 0, .2);
    cursor: auto;
    /* new */
    margin-top: 18px;
}